{% extends "../base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="block mb-3">
  <div class="navigator mb-3 mt-3">
      <div class="container">
          <p><a style="text-decoration: none; color: blueviolet;" href="{% url 'catalog:store_home' %}">Shop</a> / Cart</p>
      </div>
  </div>
  <div class="container">
      <h1 class="mb-3">Cart</h1>
      {% if cart|length == 0 %}
        <div class="mt-5 mb-5 alert alert-dismissible alert-info">
          <div>
            <span>Cart is Empty</span>
          </div>
        </div>
      {% else %}
      <table class="table">
          <thead>
            <tr>
              <th colspan="2">Product</th>
              <th>Count</th>
              <th>Price</th>
              <th>Total</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
            <tr id="tr-{{item.product.id}}">
              <td><img style="width: 150px;" src="{{item.product.image.url}}" alt="..." class="anim-img"></td>
              <td>{{item.product.name}}</td>
              <td>{{item.qty}}</td>
              <td>{{item.product.price}}</td>
              <td>{{item.subtotal}}</td>
              <td><button class="btn btn-danger" onclick="deleteFromCart('{{item.product.id}}')">Delete</button></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>

      <h3>Total: {{cart.get_total}}</h3>
      {% include './checkout-form.html' %}
      {% endif %}
  </div>
</div>
{% else %}
  <div class="mt-5 mb-5 alert alert-dismissible alert-info">
    <div>
      <span>Go to Login</span>
    </div>
  </div>
{% endif %}
<script>
    const deleteFromCart = (productId) => {
        let data = {
            product_id: productId
        }

        fetch("{% url 'orders:cart_delete' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;            
            document.getElementById('tr-'+productId).remove();            
        });
    }
</script>

{% endblock %}