<div id="order" class="card mt-5 mb-5">
    <div class="card-body">
        <form>
            <h1 class="mb-10" style="font-size: 30px; font-weight: 700; color: #fff;">Buy</h1>
            <div class="form-control" style="background-color: #0A0A0A; margin-bottom: 10px;">
                <label for="fullname" style="color: #fff;">Name: </label>
                <input type="text" class="form-control" id="fullname" placeholder="Name" style="background-color: #161313; color: white;">
            </div>
            <div class="form-control" style="background-color: #0A0A0A; margin-bottom: 10px;">
                <label for="email" style="color: #fff;">Email: </label>
                <input type="email" class="form-control" id="email" placeholder="Email" style="background-color: #161313; color: white;">
            </div>
            <div class="form-control" style="background-color: #0A0A0A; margin-bottom: 10px;">
                <label for="city" style="color: #fff;">City:</label>
                <input type="text" class="form-control" id="city" placeholder="City" style="background-color: #161313; color: white;">
            </div>
            <div class="form-control" style="background-color: #0A0A0A; margin-bottom: 10px;">
                <label for="address" style="color: #fff;">Address:</label>
                <input type="text" class="form-control" id="address" placeholder="Address" style="background-color: #161313; color: white;">
            </div>
            <div class="form-control" style="background-color: #0A0A0A;">
                <label for="phone" style="color: #fff;">Phone:</label>
                <input type="text" class="form-control" id="phone" placeholder="Phone" maxlength="12" style="background-color: #161313; color: white;">
            </div>
            <button class="btn btn-outline-info mt-3" onclick="processOrder()">Buy It Now</button>
        </form>
    </div>
</div>
<script>
    const processOrder = () => {

        let full_name = document.getElementById('fullname').value;
        let email = document.getElementById('email').value;
        let city = document.getElementById('city').value;
        let address = document.getElementById('address').value;
        let phone = document.getElementById('phone').value;

        let data = {
            full_name: full_name,
            email: email,
            city: city,
            address: address,
            phone: phone,
        }
        fetch("{% url 'orders:process_order' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            alert("Success. we'll call you back");
            window.location.href = "{% url 'catalog:homePage' %}"
        });
    }

</script>