{% extends "../base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<style>
    #hint_id_username, #hint_id_password1, #hint_id_password2 {
        display: none;
    }
</style>
<div class="block mt-3 mb-3">
    <div class="navigator mb-3 mt-3">
        <div class="container">
            <p><a style="text-decoration: none; color: blueviolet;" href="{% url 'catalog:homePage' %}">Home</a> / Sign Up</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-3" style="font-size: 32px;">Sign Up</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="mb-5">Already have an account? <a style="text-decoration: none; color: blueviolet; font-size: 18px;" href="{% url 'users:loginPage' %}">Log In</a></p>
                    <button class="btn btn-info">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}