{% extends "../base.html" %}
{% block title %}{% endblock %}

{% block content %} 
<div class="block mb-3">
    <div class="navigator mb-3 mt-3">
        <div class="container">
            <p><a style="text-decoration: none; color: blueviolet;" href="{% url "catalog:homePage" %}">Home</a> / <a style="text-decoration: none; color: blueviolet;" href="{% url "catalog:store_home" %}">Shop</a> / {{ category.name|title }}</p>
        </div>
    </div>
    <div class="container">
        <h1 class="mb-3">Shop | {{ category.name|title }}</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search</h5>
                        <form action="{% url 'catalog:store_home' %}" method="" class="mb-4">
                            <div class="row">
                                <div class="col-md-10 col-7">
                                    <input type="search" name="search" class="form-control" placeholder="Search" id="inputDefault" style="background-color: #161313; color: white;">
                                </div>
                                <div class="col-md-2 col-5">
                                    <button class="btn btn-info" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                        <h5 class="card-title">Filter</h5>
                        <div class="filter">
                            <a class="filter-links" href="{% url 'catalog:store_home' %}">All</a>
                            {% for category in categories %}
                            <a class="filter-links" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                        {% for product in products %}
                        <div class="col-md-6">
                            <div class="card" style="border: 1px solid white; margin-bottom: 20px;">
                                <img src="{{ product.image.url }}" class="card-img-top anim-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text"><b>Category:</b> <span class="badge bg-info">{{ product.category }}</span></p>
                                    <p class="card-text"><b>Price:</b> {{ product.price }}</p>
                                    <label for="select-qty-{{product.id}}" style="font-size: 20px; font-weight: 700;">Count</label>
                                    <select id="select-qty-{{product.id}}" class="productDetailsSelect" style="margin-bottom: 10px; margin-top: 5px;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <button onclick="addToCart('{{product.id}}')" href="#" class="btn btn-outline-info"><i class="fa-solid fa-cart-plus fa-Q"></i></button>
                                    <a href="{{ product.get_absolute_url }}" class="btn btn-outline-info">View</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <script>
    const addToCart = (productId) => {
        let selectQuantity = document.getElementById('select-qty-' + productId);
        let quantity = selectQuantity.value;

        let data = {
            product_id: productId,
            quantity
        }

        fetch("{% url 'orders:cart_add' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;
        });
    }
</script>

{% endblock %}