{% extends "../base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="main">
      <div class="container">
        {% if messages %}
        <span>{% for message in messages %} {{ message }} {% endfor %}</span>
        {% endif %}
          <div class="row">
              <div class="col-md-5">
                  <img class="w-100 anim-img" src="{% static './newstyle/img/prince.jpg' %}" alt="img">
              </div>
              <div class="col-md-7">
                  <h1>Response Wear</h1>
                  <p>Instagram: Response.wear</p>
                  <a href="{% url 'catalog:store_home' %}" class="btn btn-info">Shop</a>
              </div>
          </div>
      </div>
    </div>
{% endblock %}