{% extends "../base.html" %}
{% load static %}
{% block title %}Тауарлар{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="block mb-3">
        <div class="navigator mb-3 mt-3">
            <div class="container">
                <p><a style="text-decoration: none; color: blueviolet;" href="{% url "catalog:homePage" %}">Home</a> / <a style="text-decoration: none; color: blueviolet;" href="{% url "catalog:store_home" %}">Shop</a> / {{ product.name }}</p>
            </div>
        </div>
        <div class="container">
            <h1 class="mb-3">Shop</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img class="w-100 anim-img" src="{{ product.image.url }}" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h2>{{ product.name }}</h2>
                            <h3 style="font-size: 28px;">Price: <span class="badge bg-secondary">{{ product.price }}</span></h3>
                            <h3 style="font-size: 28px;">Category: <span class="badge bg-secondary">{{ product.category }}</span></h3>
                            <p style="font-size: 20px; text-align: justify;">{{ product.description }}</p>
                            <div class="marking">
                                {% if product.in_stock %}
                                <span class="badge bg-success">Available</span>
                                {% else %}
                                <span class="badge bg-danger">Not available</span>
                                {% endif %}
                            </div>
                            <label for="select-qty-{{product.id}}" style="font-size: 20px; font-weight: 700;">Count</label>
                            <select id="select-qty-{{product.id}}" class="productDetailsSelect" style="margin-bottom: 10px; margin-top: 5px;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button onclick="addToCart('{{product.id}}')" class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="container">
    <span style="display: flex; justify-content: center; margin-top: 100px; font-size: 48px;">Go to Login</span>
</div>
{% endif %}
<script>
    const addToCart = (productId) => {
        let selectQuantity = document.getElementById('select-qty-' + productId);
        let quantity = selectQuantity.value;

        let data = {
            product_id: productId,
            quantity
        }

        fetch("{% url 'orders:cart_add' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;
        });
    }
</script>
{% endblock %}